{%extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
  <div class="container">
    <h1>
      <center>About <img src="{% static './find_a_qt/images/logo.png' %}" width="150" height="150"></center>
    </h1>
    <div class="box_about" style="background: white; border: 50px solid white"><br>
      <h6>Find a QT's inception was with a class project in 2020. The team noticed a gap between tutoring services and
        students
        at UVA. After further inspection, we realized that most UVA students in our sample didn't use the tutoring
        services offered by
        the university. Because of this, we decided to invest our time into this project and make it our project for the
        semester. </h6> <br><br>
      <h6>Our primary goal is to connect students with tutors. The student simply creates an account, snaps a picture of
        the question
        and chooses its topic and our tutors get notified. After a tutor accepts the session, the student and tutor meet
        according to
        the details of the session. </h6> <br><br>
      <h6> With this service, the student only needs to pay for the amount of time required and not a cent more!</h6>
    </div>
  </div>
</body>
{% endblock %}

