<!-- Displaying answers for a specific question -->

{%extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class = "row col-md-12 mx-auto ml-3">
<h2 class = mx-auto>Answers for 
  {% for question in questions %}
  <a href = '/questions/{{question.id}}'>{{question.body}} </a></h2>
  {% endfor %}
</div>
<br>

{% for answer in history %}

<div class="container">
  <div class="row">
<article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <h4>
        <a class="mr-2" href="profile/{{answer.author_name}}">{{ answer.author_name }}</a>
        <small class="article-content">Upvotes: {{answer.upvotes}} </small>
        <h4>
      </div>
      <small class="article-content">{{ answer.time_submission }} EST</small>
      <p class="article-content">{{ answer.text }}</p>
  </article>
  </div>
  </div>
{% endfor %}

{% endblock %}