{%extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class = "row col-md-12 mx-auto ml-3">
<h2 class = mx-auto>Current Answers</h2>
</div>

{% for answer in answers %}
<div class="container">
  <div class="row">
<article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <h4>
        <a class="mr-2" href="questions/{{question.id}}">{{ answer.author_name }}</a>
        <small class="article-content">Upvotes: {{answer.upvotes}} </small>
        <h4>
      </div>
      <p class="article-content">{{ answer.text }}</p>
  </article>
  </div>
  </div>
{% endfor %}

{% endblock %}