<!-- Displaying answers for a specific question -->

{%extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class = "row col-md-12 mx-auto ml-3">
<h2 class = mx-auto>Answers for
  {% for question in questions %}
  <a href = '/questions/{{question.id}}'>{{question.body}} </a></h2>
  {% endfor %}
</div>
<br>

{% for answer in get_question.answer.all %}

<div class="container">
  <div class="row">
<article class="media content-section col-md-12">
    <div class="media-body">
      <div class="article-metadata">
        <h4>
        <a class="mr-2" href="profile/{{answer.author_name}}">{{ answer.author_name }}</a>
          <a href="{% url 'upvote_answer_question' answer_id=answer.id pk=get_question.id%}">
            <button type="button" class="btn btn-dark">
              <i class="fas fa-arrow-up"></i>
              {{ answer.get_num_upvotes }}
            </button>
          </a>
          <a href="{% url 'downvote_answer_question' answer_id=answer.id pk=get_question.id%}">
            <button type="button" class="btn btn-dark">
              <i class="fas fa-arrow-down"></i>
                {{ answer.get_num_downvotes }}
            </button>
          </a>
        </h4>
      </div>
      <small class="article-content">{{ answer.when_published }}</small>
      <p class="article-content">{{ answer.text }}</p>
  </article>
  </div>
  </div>
{% endfor %}

{% endblock %}
