{% extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{%block content%}
<div class="container">
  <h1>
    <center>Welcome to <img src="{% static './find_a_qt/images/logo.png' %}" width="150" height="150"></center>
  </h1>

  <div class="row" style="background: #FAFAFA; border: 50px solid #FAFAFA"">
        <div class=" col">
    <br>
    <center>
      <h2> Are you a student?</h2>
    </center>
    <br> <br>
    <h6>Stuck on a homework problem due in 3 hours? Or do you not understand a key concept for your midterm tomorrow?
      Well you're in luck! At Find a QT, we will find you a Tutor for as long as you need as soon as possible!
      Interested? <a href="/register">Register here</a> </h6>
  </div>
  <div class="col">
    <center><img style="position: relative" src="{% static './find_a_qt/images/struggle.jpg' %}" width="400"
        height="266" class="img-thumbnail"></center>
  </div>
</div>
<br>
<div class="row" style="background: #FAFAFA; border: 50px solid #FAFAFA">
  <div class="col">
    <center><img style="position: relative" src="{% static './find_a_qt/images/tutoring.png' %}" width="400"
        height="266" class="img-thumbnail"></center>
  </div>
  <div class="col">
    <br>
    <h2>
      <center>Interested in being a tutor?</center>
    </h2>
    <br> <br>
    <h6>Interested in tutoring for classes that you have taken or you are comfortable with? Or do you just want some
      extra cash and you know you can tutor? With Find a QT, you will be
      paired with a student who requires your help! <a href="/register">Register here</a> </h6>
  </div>
</div>
</div>
</body>
{% endblock %}
