{%extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<!-- So far we aren't doing session requests. Add that -->
<!-- Post stuff starts from here -->
<div class="container">
  <div class="row">
    <article class="media content-section col-md-12">
      <div class="container">
        <div class="row">
          <div class="media-left">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author_name.upper }}</a>
              <br>
              <small class="article-content">{{ object.time_submission }} EST</small>

            </div>

            <h2 class="article-title">{{ object.class_name }}</h2>
            <p class="article-content">{{ object.body }}</p>
            <p class="article-content"><b>Urgency: </b> {{ object.urgency }}</p>
            {% if object.image %}
            <img src="{{object.image.url}}" class="media-object" style="width:999px">
            {% endif %}
          </div>
          <br>

        </div>
    </article>
  </div>
  <!-- Comments start from here -->
  <div class='row'>
    <a class="mr-2" href="answers/{{object.id}}/"> View Answers </a>
    <a class="mr-2" href="answer/new"> Answer this Question </a>
    <hr class="my-4">
  </div>
  <body>
    <h1>Answers</h1>
    {% for answer in object.answer.all %}
    <div class="container">
      <div class="row">
    <article class="media content-section col-md-12">
        <div class="media-body">
          <div class="article-metadata">
            <h4>
              <a class="mr-2" href="profile/{{answer.author_name}}">{{ answer.author_name }}</a>
                <a href="{% url 'upvote_question_detail' answer_id=answer.id pk=question.id%}">
                  <button type="button" class="btn btn-dark">
                    <i class="fas fa-arrow-up"></i>
                    {{ answer.get_num_upvotes }}
                  </button>
                </a>
              <a href="{% url 'downvote_question_detail' answer_id=answer.id pk=question.id%}">
                <button type="button" class="btn btn-dark">
                  <i class="fas fa-arrow-down"></i>
                  {{ answer.get_num_downvotes }}
                </button>
              </a>
            </h4>
          </div>
          <p class="article-content">{{ answer.text }}</p>
          {% if answer.image %}
          <img src="{{answer.image.url}}" class="media-object" style="width:999px">
          {% endif %}
      </article>
      </div>
      </div>
    {% endfor %}
    </body>
</div>
{% endblock %}
