{%extends 'find_a_qt/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

{% for question in questions %}
<a href="questions/{{question.id}}">
<article class="media content-section mx-auto">
  <object data="media/default.png" type="image/png" width="100" height="100" border-radius=20%>
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  </object>
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="questions/{{question.id}}">{{ question.author_name }}</a>
      </div>
      <h2><a class="article-title" href="questions/{{question.id}}">{{ question.class_name }}</a></h2>
      <p class="article-content">{{ question.body }}</p>
  </article>
 </a> 
{% endfor %}

{% endblock %}