{% load socialaccount %}
<!DOCTYPE html>

<html lang="en">
<head>
  <div class="content-section">
    <form method="POST">{% csrf_token %}
      <fieldset class="form=group">
        <legend class="border-bottom mb-4">Register</legend>
        {{ form.as_p }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{% provider_login_url 'google' %}">Login With Google</a>
      </small>
    </div>
  </div>
  <meta charset="UTF-8">
  <title>Google Registration</title>
</head>
<body>
<h1>Google Login</h1>
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }} !</p>
<a href="/register"></a>
   {% else %}
{% endif %}
</body>
</html>

