{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <base href = "/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'find_a_qt/style.css' %}">

  <title>Tutor Registration</title>
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Find a QT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<center>
  <h1>Register as Tutor</h1>
  <form method="POST" action="">{% csrf_token %}
    <div style="width:25%">
      <p>{{ form.first_name.label_tag }}  {{ user.first_name.upper }}</p>
      <p>{{ form.last_name.label_tag }}  {{ user.last_name.upper }}</p>

      <p>{{ form.year_in_school.label_tag }}  {{ form.year_in_school }}</p>

      <p>{{ form.major.label_tag }}  {{ form.major }}</p>

      <p>{{ form.phone_number.label_tag }}  {{ form.phone_number }}</p>
    </div>

    <input type="submit" value="Register">
  </form>
</center>
</body>
</html>
