{% extends "find_a_qt/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-3 offset-md-1">
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Account Page</h3>
      </div>

      <ul class="list-unstyled components">
        <li class = 'list-group-item list-group-item-success'>
          <a href ="my-questions/" >My Questions</a>
        </li>
        <li class = 'list-group-item list-group-item-success'>
          <a href="/questions/new">Ask a Question</a>
        </li>
        <li class = 'list-group-item list-group-item-success'>
          <a href="/questions">Answer Questions</a>
        </li>
        <li class = 'list-group-item list-group-item-success'>
          <a href="/chat/new">Create a Chat Room</a>
        </li>
      </ul>

    </nav>
    <!-- Page Content -->
  </div>
</div>
<div class="content-section" align="justify">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{user.first_name}} {{user.last_name}}</h2>
      <p><i>{{ user.profile.year_in_school }}, {{ user.profile.major }}</i></p>
      <p>Rating:  {{ user.profile.rating }}</p>
    </div>

  </div>
    <fieldset class="form-group" >
        <legend class="border-bottom mb-4">Bio</legend>
        <p><b>{{ user.profile.bio }}</b></p>

        <legend class="border-bottom mb-4">Profile Info</legend>

        <h5><u>Username</u></h5>
        <p><b>{{ user }}</b></p>
        <h5><u>First Name</u></h5>
        <p><b>{{ user.first_name }}</b></p>
        <h5><u>Last Name</u></h5>
        <p><b>{{ user.last_name }}</b></p>
        <h5><u>Email</u></h5>
        <p><b>{{ user.email }}</b></p>

    </fieldset>
    {% if user == request.user %}
      <form action="/profile/edit/">
        <input class="btn btn-outline-info" type="submit" value="Update Profile" />
      </form>
    {% endif %}
    <br>
</div>
<div class="container">
  <h2>Other Users</h2>
  {% for user in users %}
    <a href="{% url 'profile_with_pk' pk=user.pk %}">
      <h6>{{ user.username }}</h6>
    </a>

  {% endfor %}
</div>
{% endblock %}
